<div ng-init="OnLoad()">
    <div class="modal-header bg-color" style="background-color:#ccc">
        <div class="modal-title">
            <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>

            <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i> Cập nhật thông tin {{item.Ten}} </label></h4>

        </div>
    </div>
    <div class="modal-body form">
        <div class="form-body form-horizontal margin-top-10">
            <div class="row margin-bottom-5">

                <div class="{{itemError.ModelState.Ma[1]}}">
                    <label class="control-label col-md-2">Mã <span style="color:red">*</span>:</label>
                    <div class="col-md-4">
                        <input ng-change="ValidMa()" ng-model-options="{updateOn: 'change'}" type="text" class="form-control input-sm" ng-model="item.Ma">

                    </div>
                </div>

                <label class="control-label col-md-2">Tên viết tắt:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="item.Viettat">

                </div>

            </div>
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.Ten[1]}}">
                    <label class="control-label col-md-2">Tên  <span style="color:red">*</span>:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-sm" ng-model="item.Ten">

                    </div>
                </div>
            </div>
      
            <div class="row margin-bottom-5">

                <label class="control-label col-md-2">Hiển thị:</label>
                <div class="col-md-4">
                    <input type="checkbox" class="input-sm" ng-model="item.FInUse">
                </div>
           
                <div class="col-md-6 text-right">
                    <div style="margin-top:7px"><i>Lưu ý: <span style="color:red">*</span> Bắt buộc nhập</i></div>
                </div>
            </div>

            <div class="form-group " style="position: sticky;bottom: 10px;z-index:500;background-color:white">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10 clearfix">
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="SaveModal()"><i class="fa fa-save"></i> Lưu </a>
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="SaveAndNew()"><i class="fa fa-save"></i> Lưu và thêm </a>
                    <a class="btn btn-sm grey-cascade" ng-click="cancelModal()"><i class="fa fa-times-circle"></i> Đóng </a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {
        ComponentsSelect2.init();
    });
</script>
