
<div class="modal-header bg-color" style="background-color:#ccc">
    <div class="modal-title">
        <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>
        <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i> Dọn dẹp tệp tin sao lưu cơ sở dữ liệu </label></h4>

    </div>
</div>
<div class="modal-body form">
    <div class="form-body form-horizontal">
        <div class="row">
            <div class="col-md-9">
                <i>Hệ thống tự động đưa ra những bản ghi sao lưu cơ sơ dữ liệu trừ bản ghi mới nhất!</i>
            </div>
            <div class="col-md-3 text-right">
                <a class="btn btn-sm btn-danger" ng-click="DeleteBak()">
                    <i class="fa fa-trash"></i> Xóa
                </a>
            </div>
            <div class="col-md-12">
                
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover"
                           id="fixTable">
                        
                        <thead style="background-color:#eee">
                           
                            <tr style="border:solid 1px">
                                <th style="border:solid 1px" width="1px">
                                    <input type="checkbox" ng-model="Check" ng-click="OnCheckAll()" />
                                </th>
                                <th style="border:solid 1px"> <div style="text-align:center">STT</div> </th>
                                <th style="border:solid 1px">
                                    Vị trí lưu Cơ sở dữ liệu
                                </th>
                                <th style="border:solid 1px"> <div style="text-align:center">Thời gian</div> </th>
                                <th style="border:solid 1px"> <div style="text-align:center">Người tạo</div> </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="dm in ListBak">
                                <td style="border:solid 1px">
                                    <input type="checkbox" ng-model="dm.Check" ng-click="OnCheck(dm)" />
                                </td>
                                <td style="border:solid 1px"> {{$index +1}} </td>
                                <td style="border:solid 1px">
                                    {{dm.LinkDatabase}}
                                </td>
                                <td style="border:solid 1px"> {{dm.TimeBackup | date:'HH:mm - dd/MM/yyyy'}}</td>
                                <td style="border:solid 1px">{{dm.UserName}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12 text-right">
            <a class="btn btn-sm grey-cascade" ng-click="cancelModal()"><i class="fa fa-times-circle"></i> Đóng </a>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {
        ComponentsSelect2.init();
    });
</script>
