
<div class="modal-header bg-color" style="background-color:#ccc">
    <h4 class="modal-title font-white">Thay đổi mật khẩu </h4>
</div>
<div class="modal-body form">
    <div class="form-body form-horizontal">
        
        <div class="form-group {{itemError.ModelState.OldPassword[1]}}">
            <label class="control-label col-md-3">Mật khẩu cũ <span style="color:red">*</span></label>
            <div class="col-md-6">
                <input type="password" class="form-control" ng-model="item.OldPassword" id="OldPassword" name="FName">
            </div>
        </div>

        <div class="form-group {{itemError.ModelState.NewPassword[1]}}">
            <label class="control-label col-md-3">Mật khẩu mới <span style="color:red">*</span></label>
            <div class="col-md-6">
                <input type="password" class="form-control" ng-model="item.NewPassword" id="NewPassword" name="FName">
            </div>
        </div>
        <div class="form-group {{itemError.ModelState.ConfirmPassword[1]}}">
            <label class="control-label col-md-3">Xác nhận mật khẩu mới <span style="color:red">*</span></label>
            <div class="col-md-6">
                <input type="password" class="form-control" ng-model="item.ConfirmPassword" id="ConfirmPassword" name="FName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-9">
                <i class="font-red"> Lưu ý: Phần mềm yêu cầu đổi mật khẩu trong lần đầu tiên đăng nhập và định kỳ 3 tháng / lần</i>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm green-haze btn-outline sbold" ng-click="SaveModal()"> <i class="fa fa-save"></i> Xác nhận </button>
    <button class="btn btn-sm red-haze btn-outline sbold" ng-show="user.ConnId != null" ng-click="cancelModal()"> <i class="fa fa-times"></i> Thoát </button>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("body").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });
    });
</script>  