
<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> BÁO CÁO TỔNG HỢP</label></h4>
</div>
<div class="form-body form-horizontal col-md-12">
    <div class="tabbable-custom portlet box margin-top-10" >
        <ul class="nav nav-tabs ">
            <li class="active">
                <a data-target="#tab_1" data-toggle="tab" aria-expanded="true" class="bold">
                    Tổng hợp theo danh hiệu thi đua
                </a>
            </li>
            <li>
                <a data-target="#tab_2" data-toggle="tab" aria-expanded="true" class="bold">
                    Tổng hợp theo hình thức khen thưởng
                </a>
            </li>


        </ul>
        <div class="tab-content">
            <div class="tab-pane active " id="tab_1" ng-controller="BaoCaoDanhHieuController">

                <div class="row">
                    <div class="portlet light ">
                        <div class="form-body form-horizontal col-md-12">
                            <div class="form-group ">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Năm: </span>
                                        <select class="form-control select2" ng-model="Paging.Nam" convert-to-number ng-change="LoadDH()">
                                            <option value="0">
                                                ---Tất cả---
                                            </option>
                                            <option ng-repeat="y in ListNam"
                                                    value="{{y}}">
                                                {{y}}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Đơn vị: </span>
                                        <select class="form-control select2" ng-model="Paging.IdDonvi" convert-to-number ng-change="LoadDH()">
                                            <option value="0">
                                                ---Tất cả---
                                            </option>
                                            <option ng-repeat="y in ListDonVi "
                                                    value="{{y.Id}}">
                                                {{y.TenDonVi}}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4 text-right">

                                    <a class="btn btn-sm btn-primary" onclick="tableToExcel('fixTable', 'Báo cáo tổng hợp')">
                                        <i class="fa fa-file-excel-o"></i> Xuất Excel
                                    </a>

                                    <a class="btn btn-sm btn-primary" ng-show="!IsEdit" ng-click="IsEdit = !IsEdit">
                                        <i class="fa fa-print"></i> Sửa và in
                                    </a>
                                    <a class="btn btn-sm btn-danger" ng-show="IsEdit" ng-click="IsEdit = !IsEdit">
                                        <i class="fa fa-times"></i> Hủy sửa
                                    </a>
                                </div>
                            </div>

                            <div class="form-group ">

                                <div class="col-md-12">
                                    <div class="table-scrollable" id="fixTable1" ng-show="!IsEdit">
                                        <div style="text-align:center"><h4><strong>BÁO CÁO TỔNG HỢP DANH HIỆU THI ĐUA</strong></h4></div>

                                        <table class="table table-striped table-bordered table-hover">
                                            <thead style="background-color:#eee">
                                                <tr style="border:solid 1px;">
                                                    <td width="1px" style="border:solid 1px" rowspan="2">
                                                        <div style="text-align:center;font-weight:bold">STT</div>
                                                    </td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Năm</div> </td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Danh hiệu</div> </td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Đơn vị</div></td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Số cá nhân</div></td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Số tập thể</div></td>

                                                </tr>
                                              
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dv in Data " on-finish-render="ngRepeatFinished">
                                                    <td align="center" style="border:solid 1px"> {{$index + Paging.pageStart}} </td>

                                                    <td style="border:solid 1px" class="bold" align="center">
                                                        {{dv.Nam}}

                                                    </td>
                                                    <td style="border:solid 1px" class="bold">
                                                        {{dv.Ten}}
                                                    </td>
                                                    <td style="border:solid 1px" class="bold">
                                                        {{dv.TenDonVi}}
                                                    </td>
                                                    <td style="border:solid 1px" align="center">
                                                        {{dv.SoCaNhan}}
                                                    </td>
                                                    <td style="border:solid 1px" align="center">
                                                        {{dv.SoTapThe}}
                                                    </td>
                                                   
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <ng-ckeditor ng-model="item" ng-show="IsEdit"
                                                 ng-config="config"></ng-ckeditor>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="pull-left col-md-3">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon"> Hiển thị </span>
                                        <select ng-model="Paging.pageSize" convert-to-number
                                                ng-change="LoadDH()" class="form-control select2">
                                            <option value="0">Tất cả</option>
                                            <option ng-repeat="vl in displayPage" value="{{vl.value}}">{{vl.text}}</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <div class="pull-right" style="margin-top:-10px">
                                        <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_products_paginate">
                                            <div class="pagination-panel">
                                                Trang
                                                <a href="#" class="btn btn-sm default prev " ng-click="PrePage()" title="Trang trước">
                                                    <i class="fa fa-angle-left"></i>
                                                </a><input type="text" allow-only-numbers ng-model="Paging.currentPage"
                                                           class="pagination-panel-input form-control input-mini input-inline input-sm"
                                                           maxlenght="5" style="text-align:center; margin: 0 5px;"
                                                           ng-change="LoadDH()"
                                                           ng-model-options="{updateOn: 'change'}">
                                                <a href="#" class="btn btn-sm default next "
                                                   ng-click="NextPage()"
                                                   title="Trang tiếp theo"><i class="fa fa-angle-right"></i></a> của
                                                <span class="pagination-panel-total">{{Paging.totalPage}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>



            </div>
            <div class="tab-pane" id="tab_2" ng-controller="BaoCaoHinhThucController">
                <div class="row">
                    <div class="portlet light ">

                        <div class="form-body form-horizontal col-md-12">
                            <div class="form-group ">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Năm: </span>
                                        <select class="form-control select2" ng-model="Paging.Nam" convert-to-number ng-change="LoadHT()">
                                            <option value="0">
                                                ---Tất cả---
                                            </option>
                                            <option ng-repeat="y in ListNam"
                                                    value="{{y}}">
                                                {{y}}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Đơn vị: </span>
                                        <select class="form-control select2" ng-model="Paging.IdDonvi" convert-to-number ng-change="LoadHT()">
                                            <option value="0">
                                                ---Tất cả---
                                            </option>
                                            <option ng-repeat="y in ListDonVi "
                                                    value="{{y.Id}}">
                                                {{y.TenDonVi}}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4 text-right">

                                    <a class="btn btn-sm btn-primary" onclick="tableToExcel('fixTable', 'Báo cáo tổng hợp')">
                                        <i class="fa fa-file-excel-o"></i> Xuất Excel
                                    </a>

                                    <a class="btn btn-sm btn-primary" ng-show="!IsEdit" ng-click="IsEdit = !IsEdit">
                                        <i class="fa fa-print"></i> Sửa và in
                                    </a>
                                    <a class="btn btn-sm btn-danger" ng-show="IsEdit" ng-click="IsEdit = !IsEdit">
                                        <i class="fa fa-times"></i> Hủy sửa
                                    </a>
                                </div>
                            </div>

                            <div class="form-group ">

                                <div class="col-md-12">
                                    <div class="table-scrollable" id="fixTable2" ng-show="!IsEdit">
                                        <div style="text-align:center"><h4><strong>BÁO CÁO TỔNG HỢP HÌNH THỨC KHEN THƯỞNG</strong></h4></div>

                                        <table class="table table-striped table-bordered table-hover">
                                            <thead style="background-color:#eee">
                                                <tr style="border:solid 1px;">
                                                    <td width="1px" style="border:solid 1px" rowspan="2">
                                                        <div style="text-align:center;font-weight:bold">STT</div>
                                                    </td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Năm</div> </td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Hình thức</div> </td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Đơn vị</div></td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Số cá nhân</div></td>
                                                    <td style="border:solid 1px"><div style="text-align:center;font-weight:bold">Số tập thể</div></td>

                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dv in Data " on-finish-render="ngRepeatFinished">
                                                    <td align="center" style="border:solid 1px"> {{$index + Paging.pageStart}} </td>

                                                    <td style="border:solid 1px" class="bold" align="center">
                                                        {{dv.Nam}}

                                                    </td>
                                                    <td style="border:solid 1px" class="bold">
                                                        {{dv.Ten}}
                                                    </td>
                                                    <td style="border:solid 1px" class="bold">
                                                        {{dv.TenDonVi}}
                                                    </td>
                                                    <td style="border:solid 1px" align="center">
                                                        {{dv.SoCaNhan}}
                                                    </td>
                                                    <td style="border:solid 1px" align="center">
                                                        {{dv.SoTapThe}}
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <ng-ckeditor ng-model="item" ng-show="IsEdit"
                                                 ng-config="config"></ng-ckeditor>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="pull-left col-md-3">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon"> Hiển thị </span>
                                        <select ng-model="Paging.pageSize" convert-to-number
                                                ng-change="LoadHT()" class="form-control select2">
                                            <option value="0">Tất cả</option>
                                            <option ng-repeat="vl in displayPage" value="{{vl.value}}">{{vl.text}}</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <div class="pull-right" style="margin-top:-10px">
                                        <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_products_paginate">
                                            <div class="pagination-panel">
                                                Trang
                                                <a href="#" class="btn btn-sm default prev " ng-click="PrePage()" title="Trang trước">
                                                    <i class="fa fa-angle-left"></i>
                                                </a><input type="text" allow-only-numbers ng-model="Paging.currentPage"
                                                           class="pagination-panel-input form-control input-mini input-inline input-sm"
                                                           maxlenght="5" style="text-align:center; margin: 0 5px;"
                                                           ng-change="LoadHT()"
                                                           ng-model-options="{updateOn: 'change'}">
                                                <a href="#" class="btn btn-sm default next "
                                                   ng-click="NextPage()"
                                                   title="Trang tiếp theo"><i class="fa fa-angle-right"></i></a> của
                                                <span class="pagination-panel-total">{{Paging.totalPage}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    ComponentsSelect2.init();

</script>





