

<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> HỖ TRỢ TRỰC TUYẾN</label></h4>
</div>
<div class="form-body form-horizontal col-md-12">
    <b><i>- Để được giải đáp thắc mắc trực tiếp vui lòng nhấn vào biểu tượng Messenger ở góc phải bên dưới màn hình</i></b><br />
    <b><i>- Để được hỗ trợ trực tuyến thao tác vui lòng tải và cài đặt UltraView bên dưới</i></b>
    <!-- <iframe src="https://ultraviewer.net/vi/download.html" width="100%" height="650px"></iframe>-->
    <div style="overflow: hidden; margin: 15px auto; max-width: 100%;">
        <iframe scrolling="no" src="https://ultraviewer.net/vi/download.html"
                style="border: 0px none; margin-left: 0px; height: 600px; margin-top: -200px; width: 926px;"></iframe>
    </div>
</div>







