<style>
    @keyframes mymove {
        50% {
            text-shadow: 10px 20px 30px blue;
        }
    }
</style>

<div class="page-header-inner" >
    <div class="row">
        <div class="col-md-8" style="vertical-align: middle">
            <a ui-sref="dashboard">
                <!--<img class="img-circle" alt="" src="../FILE_DINH_KEM/{{user.Avatar}}" />-->
                <label class="control-label uppercase"
                       style="
            margin-top: 8px;
            font-size: 15px;
            cursor: pointer;
            font-weight: bold;
            color: black;
            text-overflow: ellipsis;
            width: 800px;
            height: 26px;
            overflow: hidden;
            white-space: nowrap;
          ">&nbsp;&nbsp;&nbsp;&nbsp;{{CurDonVi.TenDonVi}}</label>

            </a>

        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-list font-white"></i>
        </a>
        <div class="top-menu" style="margin-top:-5px">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-extended dropdown-notification "
                    ng-show="isShowChat" id="Chat">
                    <a href="#"
                       ng-click="toggleChat()"
                       class="dropdown-toggle" title="Nhắn tin trực tuyến"
                       data-toggle="dropdown" data-close-others="true">

                        <span class="badge badge-warning"> {{MessageUnread}} </span>
                        <i class="fa fa-wechat font-blue-dark"></i>
                    </a>

                </li>

                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true" title="Thông báo">

                        <span class="badge badge-warning"> {{TBLength}} </span>
                        <i class="fa fa-globe font-blue-dark"></i>
                    </a>
                    <ul class="dropdown-menu" ng-show="ThongBao.length != 0">
                        <li class="external">
                            <h3><span class="bold">{{TBLength}} tin chưa đọc</span></h3>
                            <a ng-click="CheckReadAll()">Đọc tất cả</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 400px; overflow-y:scroll">

                                <li ng-repeat="u in ThongBao | orderBy:'-Id'" ng-click="CheckReadTB(u)"
                                    style="background-color: {{ u.NguoiDoc.includes(user.UserName) == true ? '' : '#AAC9FF'}}">
                                    <a>
                                        <span class="details">
                                            <span style="font-weight: {{u.NguoiDoc.includes(user.UserName) == true ? '' : 'bold'}};
                                            overflow: hidden;
                                            width:100%;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                            -webkit-box-orient: vertical;">-{{u.NoiDung}}</span><br />
                                            <i>- Người gửi:{{u.NguoiGui}}</i><br />
                                            <i>- Ngày gửi:{{u.NgayGui | date:'dd/MM/yyyy'}}</i>

                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-close-others="true"
                       id="Hoten" style="font-size:smaller">
                        <img class="img-circle" alt="" src="{{user.Avatar != null ? '../FILE_DINH_KEM/' + user.Avatar : '../FILE_DINH_KEM/noavatar.jpg'}}" />
                        <span class="username username-hide-on-mobile" style="color: black"> {{user.HoTen}} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default" id="Menu">
                        <li>
                            <a ui-sref="account">
                                <i class="icon-user"></i> Thông tin tài khoản
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" ui-sref="HTTT">
                                <i class="fa fa-question-circle"></i> Hỗ trợ trực tuyến
                            </a>
                        </li>
                        <li class="divider"> </li>
                        
                        <li>
                            <a href="javascript:;" ng-click="openEditItem('','Password')">
                                <i class="icon-key"></i> Đổi mật khẩu
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="LogOut()">
                                <i class="icon-logout"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="page-header-inner" style="background-color: #44b6ae9e">
    <div class="row">
        <div class="col-md-12">
            <div class="hor-menu hidden-sm hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="classic-menu-dropdown"
                        ng-class="{'active': m.FCode == $stateParams.param.ParentMenu || m.FCode == $stateParams.param.FCode }"
                        ng-repeat="m in menu | filter: { MainMenu : 'MAIN',FName : search} : true | orderBy : 'FIndex'" ng-init="m.Stt = $index + 1">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"
                           ui-sref="{{m.FCode}}({param:m,FCode:m.FCode})" class="bold">
                            <i class="{{m.icon}}"></i>
                            <span class="title">{{$index + 1}}. {{m.FName}}</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-class="{'active': cm.FCode == $stateParams.param.FCode}"
                                ui-sref-active="active"
                                ng-repeat="cm in menu | filter: {ParentMenu: m.FCode,FName : search} | orderBy : 'FIndex'">
                                <a ui-sref="{{cm.FCode}}({param:cm,FCode:cm.FCode})"
                                   class="bold"
                                   ng-class="{'bold font-red': cm.FCode == $stateParams.param.FCode}">
                                    {{m.Stt}}.{{$index + 1}}. {{cm.FName}}
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

