
<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> DANH SÁCH CÁC THÀNH VIÊN THUỘC CÁC ĐƠN VỊ CƠ SỞ</label></h4>
</div>
<div class="form-body form-horizontal col-md-12">


    <div class="form-group ">
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm"
               ng-disabled="!Paging.IdDonvi"
               ng-click="openModal('','DMCacThanhVien',Paging.IdDonvi)"><i class="fa fa-plus-circle"></i> Thêm mới</button>
            <i class="font-red" ng-hide="Paging.IdDonvi">Chọn đơn vị trước khi nhấn thêm mới</i>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Chọn đơn vị: </span>
                <select class="form-control input-sm select2" ng-model="Paging.IdDonvi"
                        convert-to-number
                        ng-change="Load()">
                    <option value="0">---Tất cả các đơn vị---</option>
                    <option ng-repeat="ldv in ListDonVi" value="{{ldv.Id}}">{{ldv.TenDonVi}}</option>

                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group " style="margin-top:-3px">
                <input type="text" ng-model="Paging.searchKey"
                       ng-model-options="{updateOn: 'change'}"
                       ng-change="Load()"
                       class="form-control input-sm " placeholder="Nhập từ khóa để tìm kiếm...">
                <span class="input-group-btn">
                    <a class="btn btn-default input-sm" ng-click="Load()">
                        <i class="fa fa-search"></i>
                    </a>
                </span>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="table-scrollable ">
                <!-- BEGIN FORM-->
                <table class="table table-striped table-bordered table-hover"
                       id="fixTable">
                    <thead>
                        <tr>
                            <th align="center"> STT </th>
                            <th> <div style="text-align:center">Ho và tên</div> </th>
                            <th><div style="text-align:center">Ngày sinh</div>  </th>
                            <th> <div style="text-align:center">Giới tính</div> </th>
                            <th><div style="text-align:center">Chức vụ</div>  </th>
                            <th><div style="text-align:center">Vị trí</div>  </th>
                            <th><div style="text-align:center">Thuộc đơn vị</div>  </th>
                            <th width="1px"><div style="text-align:center">#</div>  </th>
                            <th width="1px"><div style="text-align:center">#</div> </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="dm in ThanhVien">
                            <td align="center" width="1%"> {{$index + Paging.pageStart}} </td>
                            <td> <a ng-click="openModal(dm,'DMCacThanhVien')"> {{dm.Hodem}} {{dm.Ten}}</a> </td>
                            <td>
                                {{dm.Ngaysinh | date:'dd/MM/yyyy'}}
                            </td>
                            <td> {{dm.Gioitinh}}</td>
                            <td>{{dm.Chucvu}}</td>
                            <td>{{dm.Vitri}}</td>
                            <td>
                                <div style="text-align:center">
                                    <select ng-model="dm.IdDonvi" convert-to-number disabled style="
                                                                    font-weight:bold;
                                                                    color: black;
                                                                    -webkit-appearance: none;">
                                        <option ng-repeat="ldv in ListDonVi" value="{{ldv.Id}}">{{ldv.TenDonVi}}</option>
                                    </select>
                                </div>
                            </td>
                            <td><a ng-click="openModal(dm,'DMCacThanhVien')" title="Sửa"><i class="fa fa-edit"></i></a></td>
                            <td><a ng-click="Del(dm.Id)" title="Xóa"><i class="fa fa-trash font-red"></i></a></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left col-md-3">
            <div class="input-group col-md-12">
                <span class="input-group-addon"> Hiển thị </span>
                <select ng-model="Paging.pageSize"
                        ng-options="template.value as template.text for template in displayPage"
                        ng-change="Load()" class="form-control select2"></select>

            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!--<div id="displayPage"></div>-->
            <!--<div class="pull-right" style="margin-top:-10px" id="show_paginator"></div>-->
            <div class="pull-right" style="margin-top:-10px">
                <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_products_paginate">
                    <div class="pagination-panel">
                        Trang
                        <a href="#" class="btn btn-sm default prev " ng-click="PrePage()" title="Trang trước">
                            <i class="fa fa-angle-left"></i>
                        </a><input type="text" allow-only-numbers ng-model="Paging.currentPage" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;" ng-change="Load()" ng-model-options="{updateOn: 'change'}">
                        <a href="#" class="btn btn-sm default next " ng-click="NextPage()" title="Trang tiếp theo"><i class="fa fa-angle-right"></i></a> của
                        <span class="pagination-panel-total">{{Paging.totalPage}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    ComponentsSelect2.init();
</script>





