
<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> DANH MỤC ĐƠN VỊ</label></h4>
</div>
<div class="form-body form-horizontal col-md-12">
    <div class="form-group ">
        <div class="col-md-4">
            <div class="input-group">

                <select class="form-control input-sm select2" ng-model="Paging.LoaiDonVi" ng-change="LoadDMDonVi()">
                    <option value="0">---Chọn loại đơn vị---</option>
                    <option ng-repeat="ldv in LoaiDonVi" value="{{ldv.Code}}">{{ldv.Name}}</option>

                </select>
            </div>
        </div>

        <div class="col-md-4">

            <div class="input-group">

                <select ng-change="LoadDMDonVi()" class="form-control input-sm select2" ng-model="Paging.DVCha">
                    <option value="0">---Chọn đơn vị cấp trên---</option>
                    <option ng-repeat="d in DonVi" value="{{d.Id}}">{{d.TenDonVi}}</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="input-group " style="margin-top:-3px">
                <input type="text" ng-model="Paging.searchKey"
                       ng-model-options="{updateOn: 'change'}"
                       class="form-control input-sm " placeholder="Nhập từ khóa để tìm kiếm...">
                <span class="input-group-btn">
                    <a class="btn btn-default input-sm" ng-click="LoadDMDonVi()">
                        <i class="fa fa-search"></i>
                    </a>
                </span>

            </div>
        </div>
    </div>

    <div class="form-group ">
        <div class="col-md-4">
            <a class="btn btn-primary btn-sm" ng-click="openModal('','DMDonVi')"><i class="fa fa-plus-circle"></i> Thêm mới</a>
        </div>


    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="table-scrollable ">
                <!-- BEGIN FORM-->
                <table class="table table-striped table-bordered table-hover"
                       id="fixTable">
                    <thead>
                        <tr>
                            <th align="center"> STT </th>
                            <th width="10%"> <div style="text-align:center">Mã ĐV</div></th>
                            <th width="30%"> <div style="text-align:center">Tên đơn vị</div> </th>
                            <th width="15%"><div style="text-align:center">Tên lãnh đạo</div>  </th>
                            <th width="25%"> <div style="text-align:center">Địa chỉ</div> </th>
                            <th width="15%"><div style="text-align:center">Loại đơn vị</div>  </th>
                            <th width="1px"><div style="text-align:center">#</div>  </th>
                            <th width="1px"><div style="text-align:center">#</div> </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="dm in DMDonVi">
                            <td align="center" width="1%"> {{dm.STT}} </td>
                            <td>  {{dm.MaDonVi}} </td>
                            <td>
                                <a ng-click="openModal(dm,'DMDonVi')"> {{dm.TenDonVi}}</a>
                            </td>
                            <td> {{dm.TenLanhDao}}</td>
                            <td>{{dm.FullAddress}}</td>
                            <td> {{GetNameLoaiDV(dm)}}</td>
                            <td><a ng-click="openModal(dm,'DMDonVi')" title="Sửa"><i class="fa fa-edit"></i></a></td>
                            <td><a ng-click="DelDv(dm.Id)" title="Xóa"><i class="fa fa-trash font-red"></i></a></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left col-md-3">
            <div class="input-group col-md-12">
                <span class="input-group-addon"> Hiển thị </span>
                <select ng-model="Paging.pageSize"
                        ng-options="template.value as template.text for template in displayPage"
                        ng-change="LoadDMDonVi()" class="form-control select2"></select>

            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!--<div id="displayPage"></div>-->
            <!--<div class="pull-right" style="margin-top:-10px" id="show_paginator"></div>-->
            <div class="pull-right" style="margin-top:-10px">
                <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_products_paginate">
                    <div class="pagination-panel">
                        Trang
                        <a href="#" class="btn btn-sm default prev " ng-click="PrePage()" title="Trang trước">
                            <i class="fa fa-angle-left"></i>
                        </a><input type="text" allow-only-numbers ng-model="Paging.currentPage" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;" ng-change="LoadDMDonVi()" ng-model-options="{updateOn: 'change'}">
                        <a href="#" class="btn btn-sm default next " ng-click="NextPage()" title="Trang tiếp theo"><i class="fa fa-angle-right"></i></a> của
                        <span class="pagination-panel-total">{{Paging.totalPage}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    ComponentsSelect2.init();
</script>





